.sensor {
    width: 100%;
    height: 100px;
    /* padding: 20px; */
    margin-top: 40px;
    background-color: white;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    box-shadow: 2px 2px 20px 5px rgba(0,0,0,0.1), 5px 5px 20px 5px rgba(0,0,0,0.23);
    position: relative;
}

.phenomenon {
    /* color: #F7FFF7; */
    position: absolute;
    top: 10px;
    left: 15px;
    margin: 0px;
    font-weight: 100;
    font-size: xx-large;
}

.measurement {
    /* color: #FFE66D; */
    flex-grow: 1;
    position: absolute;
    bottom: 5px;
    right: 15px;
    margin: 0px;
    font-weight: bolder;
    font-size: xx-large;
}

.sensor > svg {
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    width: 100%;
    height: calc(100% - 5px);
    margin-top: 5px;
}

.sensor > svg circle{
    display: none;
  }